* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html,
body {
  color: #000000;
  font-family: Arial,Helvetica,sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ol, ul {
  list-style: none;
}

/* Header */

.site-header {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  margin-top: 25px;
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px - 40px);
}

.logo {
  padding-left: 8px;
  font-size: 20px;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  padding: 0 5px;
}

.nav-link-item {
  line-height: 30px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  transition: .3s;
}

.nav-link-item:hover {
  color: #cda041;
}

/* Main */

.root {
  width: calc(100% - 40px - 40px);
  margin-left: auto;
  margin-right: auto;
}

.name-banner-container {
  margin: 20px 0px 250px calc((100% - 980px) * 0);
}

.name-banner {
  font-size: 110px;
  font-weight: 100;
}

.picture-and-job-title {
  height: 350px;
}

.picture-container {
  margin: 178px 0px 4px calc((100% - 980px) * 1);
  position: relative;
  left: -100px;
}

.creator-pic {
  width: 419px;
  height: 294px;
  object-fit: cover;
}

.job-title-container {
  position: relative;
  text-align: right;
  line-height: 8rem;
  font-size: 110px;
  top: -450px;
  z-index: 1;
}

.job-title {
  padding-right: 15px;
}

.creator-description-container div {
  width: 773px;
  margin-bottom: 40px;
}

.creator-description {
  font-size: 32px;
  font-weight: 100;
  line-height: 2.8rem;
}

.all-projects-link {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 55px;
}

.all-projects-link a {
  border-bottom: 1px solid black;
}

/* Gallery */

.gallery-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
}

.gallery-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.gallery-row:last-of-type {
  margin-bottom: 0;
}

.gallery-item {
  display: contents;
}

.gallery-item-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-item-text p {
  font-size: 34px;
  font-weight: 100;
}

.gallery-item a {
  display: contents;
}

.portrait-pic img{
  max-width: 30%;
  height: auto;
}

.landscape-pic img{
  max-width: 70%;
  height: auto;
}

/* Portfolio */

.portfolio-top-container {
  display: flex;  
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 75px;
}

.portfolio-title {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.portfolio-title span {
  font-size: 110px;
  font-weight: 100;
}

.portfolio-description {
  display: flex;
  justify-content: center;
  width: 700px;
}

.portfolio-description h4 {
  text-align: center;
}

.portfolio-description span {
  font-size: 31px;
  font-weight: 100;
  line-height: 4rem;
}

.portfolio-gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-item-title {
  display: flex;
  justify-content: center;
  margin: 30px 0 0px;
  font-weight: 100;
  margin-bottom: 50px;
}

.portfolio-item-title h2{
  font-weight: 100;
  font-size: 38px;
  letter-spacing: .2rem;
}

.portfolio-gallery-item-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-gallery-item-row div {
  width: 600px;
  display: flex;
  justify-content: center;
}

.portfolio-item-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-item-description div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.portfolio-item-description p {
  font-size: 20px;
  font-weight: 100;
  line-height: 2.5rem;
  text-align: center;
}

.project-link {
  margin-top: 45px;
}

.project-link a {
  font-size: 16px;
  font-weight: 100;
  border-bottom: #000000 solid 1px;
}

.portfolio-item a {
  display: contents;
}

.portfolio-item img {
  width: 500px;
  height: auto;
}

.overlay {
  position: relative;
  background-color: #00000029;
  z-index: 1;
  width: 700px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay span {
  color: #fff;
  font-size: 32px;
}

/* Contact Page */

.contact-page-info-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.contact-page-name-container {
  margin-top: 50px;
  margin-bottom: 100px;
}

.contact-page-name-container h1 {
  font-size: 110px;
  font-weight: 100;
}

.contact-info-name {
  /* font-size: 25px; */
  font-size: 2rem;
  font-weight: 100;
}

.contact-info-item {
  /* font-size: 44px; */
  font-size: 3rem;
  font-weight: 100;
}

.contact-image-container img {
  width: 100%;
  height: auto;
}

/* About Page */

.about-top-container {
  margin-top: 50px;
  margin-bottom: 100px;
}

.about-top-container h1 {
  font-size: 110px;
  font-weight: 100;
}

.about-info {
  font-size: 44px;
  font-weight: 100;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.about-info p {
  width: 940px;
}

.about-image-container img {
  width: 100%;
  height: auto;
}

.about-services-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-services-container h1 {
  font-size: 110px;
  font-weight: 100;
}

.services-name {
  margin-bottom: 35px;
}

.service-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px #000 solid;
  padding: 50px 0;
}

.service-item h3 {
  font-size: 44px;
  font-weight: 100;
}

.service-item p {
  font-size: 18px;
  font-weight: 100;
  line-height: 2rem;
}

.service-item-description {
  width: 571px;
  margin-right: 5%;
}

/* Footer */

footer {
  height: 375px;
  margin-top: 130px;
}

.border-line {
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
}

.footer-content-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 90px;
}

footer span {
  line-height: 30px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 2px;
}

.footer-logo-mobile {
  display: none;
}

/* Media Query */

@media (max-width: 1130px) {

  /* Main Page */

  .name-banner-container {
    margin-bottom: 100px;
  }

  .picture-and-job-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }

  .picture-and-job-title .picture-container {
    margin: 0;
    padding: 0;
    position: static;
  }

  .picture-and-job-title .job-title-container {
    margin: 50px 0 35px;
    padding: 0;
    position: static;
    display: flex;
  }

  .picture-and-job-title img {
    width: 80%;
  }

  .job-title-container p {
    text-align: center;
  }

  /* About Page */

  .about-services-container {
    margin-top: 40px;
  }

  /* Contact Page */

  .contact-page-info-container {
    margin-bottom: 50px;
  }

  .contact-page-info-container p{
    font-size: 24px;
  }

  .contact-item {
    margin-bottom: 60px;
  }
}

@media (max-width: 989px) {

  /* About Page */

  .services-name h1 {
    text-align: center;
  }

  .service-item {
    flex-direction: column;
  }

  .service-item-description p {
    text-align: center;
  }

  .service-item-description {
    margin: 0;
  }

  .service-item:last-of-type {
    padding-bottom: 0;
  }

  .about-services-container {
    margin-bottom: 50px;
  }

  .service-item-name {
    margin-bottom: 15px;
  }

}

@media (max-width: 964px) {

  /* Main Page */

  .name-banner-container h1 {
    text-align: center;
    font-size: 90px;
  }

  .picture-container {
    display: flex;
    justify-content: center;
  }

  .job-title-container p {
    text-align: center;
    font-size: 90px;
  }

  .creator-description-container {
    width: auto;
  }

  .creator-description-container div {
    width: auto;
  }

  .creator-description {
    margin-top: 0;
  }
}

@media (max-width: 804px) {

  /* Main Page */

  .creator-description-container {
    width: auto;
  }

  .creator-description-container div {
    width: auto;
  }

  /* About Page */ 

  .about-bottom-images-container div {
    display: flex;
    justify-content: center;
  }

  .about-bottom-images-container img {
    max-width: 80%;
    height: auto;
  }

  /* Contact Page */

  .contact-info-item {
    font-size: 24px;
  }

  .contact-page-info-container {
    flex-direction: column;
  }

  .contact-page-name-container h1 {
    font-size: 50px;
  }
}

@media (max-width: 629px) {

  /* About Page */

  .about-top-container {
    margin-bottom: 60px;
  }

  .about-top-container .about-name {
    margin-bottom: 25px;
  }

  .about-top-container h1 {
    font-size: 50px;
  }
  
  .about-info {
    font-size: 24px;
  }
  
  .about-info p {
    width: auto;
  }

  .about-services-container {
    margin-top: 35px;
  }

  .services-name h1 {
    font-size: 45px;
  }

  .service-item h3 {
    font-size: 30px;
  }
  
  .service-item p {
    font-size: 16px;
    height: auto;
  }

  .service-item-description {
    width: auto;
  }

  .about-bottom-images-container img {
    max-width: 500px;
    height: auto;
  }

}

@media (max-width: 589px) {

  /* Main Page */

  body {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .name-banner-container {
    margin-bottom: 40px;
  }

  .name-banner-container h1 {
    font-size: 70px;
    text-align: left;
  }

  .picture-container {
    width: 100%;
  }

  .picture-container img {
    width: 100%;
  }

  .job-title-container p {
    text-align: right;
    font-size: 39px;
    line-height: 3rem;
    text-align: center;
  }

  .creator-description {
    font-size: 22px;
  }

  /* Footer */

  .footer-col .logo {
    display: none;
  }

  .footer-logo-mobile {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .footer-content-container {
    margin-top: 0;
    margin-bottom: 35px;
  }
}

@media (max-width: 500px) {
  
  /* About Page */

  .service-item {
    width: 100%;
  }

  .service-item-description {
    width: 350px;
  }

}

@media (max-width: 402px) {

  /* Main Page */

  .job-title-container p {
    font-size: 35px;
  }
}